---
import { Image } from "astro:assets";
import Base from "../layout/Base.astro";
import { fetchItems } from "../scripts/utils";

const title = "Music Inventory";
const description = "A music inventory";

const categories = await fetchItems("/categories");
const brands = await fetchItems("/brands").then((data) => data);
---

<Base title={title} description={description}>
  <section class="w-11/12 max-w-4xl mx-auto pt-10 pb-20">
    <h2 class="text-3xl">Explore Categories</h2>
    <div class="pt-10 grid gap-6">
      {
        categories.map(({ name, description, cover_img }) => {
          return (
            <article>
              <div class="flex gap-10 items-center">
                <Image
                  src={cover_img}
                  alt={name}
                  width={300}
                  height={300}
                  class="drop-shadow-md rounded-md"
                />
                <div>
                  <h3 class="text-xl capitalize">{name}</h3>
                  <p class="text-left">{description}</p>
                  <a
                    href="/categories/"
                    class="block mt-4 ml-auto hover:text-gray-400"
                  >
                    View Instruments
                  </a>
                </div>
              </div>
            </article>
          );
        })
      }
    </div>
  </section>
  <section class="bg-[rgba(255,255,255,.1)]">
    <div class="w-max mx-auto py-10">
      <h2 class="text-center text-3xl">Featured Brands</h2>
      <div class="w-full flex gap-10 justify-between items-center pt-5">
        {
          brands.length &&
            brands.map(({ name, logo }) => {
              if (logo) {
                return <Image src={logo} alt={name} width={100} height={20} />;
              } else {
                return (
                  <p class="capitalize text-3xl font-bold select-none">
                    {name}
                  </p>
                );
              }
            })
        }
      </div>
    </div>
  </section>
</Base>
